* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.home {
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.layer {
    background-color: rgba(32, 32, 32, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}

.layer h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.layer h1 {
    font-size: 64px;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 83px;
    transition: all 3s;
}

.layer h1::after {
    content: "|";
    animation-name: typing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0% {
        content: 's|'
    }
    2% {
        content: 'se|'
    }
    4% {
        content: 'sem|'
    }
    6% {
        content: 'semo|'
    }
    8% {
        content: 'semon|'
    }
    10% {
        content: 'semone|'
    }
    12% {
        content: 'semone |'
    }
    14% {
        content: 'semone o|'
    }
    16% {
        content: 'semone ol|'
    }
    18% {
        content: 'semone oli|'
    }
    20% {
        content: 'semone oliv|'
    }
    22% {
        content: 'semone olivi|'
    }
    24% {
        content: 'semone olivia|'
    }
    26% {
        content: 'semone olivi|'
    }
    28% {
        content: 'semone oliv|'
    }
    30% {
        content: 'semone oli|'
    }
    32% {
        content: 'semone ol|'
    }
    34% {
        content: 'semone o|'
    }
    36% {
        content: 'semone |'
    }
    38% {
        content: 'semone|'
    }
    40% {
        content: 'semon|'
    }
    42% {
        content: 'semo|'
    }
    44% {
        content: 'sem|'
    }
    46% {
        content: 'se|'
    }
    48% {
        content: 's|'
    }
    50% {
        content: '|'
    }
    52% {
        content: 'a|'
    }
    54% {
        content: 'a |'
    }
    56% {
        content: 'a f|'
    }
    58% {
        content: 'a fr|'
    }
    60% {
        content: 'a fre|'
    }
    62% {
        content: 'a frel|'
    }
    64% {
        content: 'a frela|'
    }
    66% {
        content: 'a frelan|';
    }
    68% {
        content: 'a frelanc|';
    }
    70% {
        content: 'a frelance|';
    }
    72% {
        content: 'a frelancer|';
    }
    74% {
        content: 'a frelance|';
    }
    76% {
        content: 'a frelanc|';
    }
    78% {
        content: 'a frelan|';
    }
    80% {
        content: 'a frela|';
    }
    82% {
        content: 'a frel|';
    }
    84% {
        content: 'a fre|';
    }
    86% {
        content: 'a fr|';
    }
    88% {
        content: 'a f|';
    }
    90% {
        content: 'a |';
    }
    92% {
        content: 'a|';
    }
    100% {
        content: '|';
    }
}

.layer p {
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 38px;
    color: #dee3e4;
}

.layer button {
    padding: 14px 40px;
    border: 2px solid #20C997;
    color: #20C997;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    transition: all 2s;
}

.layer button:hover {
    background-color: #20C997;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar ul {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px 0;
}

.navbar ul a {
    text-decoration: none;
    color: #dee3e4;
}

.navbar ul a:hover {
    color: #20C997;
}

.navbar h2 {
    padding: 20px 0;
    font-size: 30px;
}


/* about section */

#about {
    padding: 40px;
}

.about-header,
.services-header,
.resume-header,
.portfolio-header,
.test-header,
.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* flex-wrap: wrap; */
    padding: 50px 0;
}

.about-header h2,
.services-header h2,
.resume-header h2,
.portfolio-header h2,
.test-header h2,
.contact-header h2 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 54px;
}

.bottom-line {
    width: 70px;
    height: 2px;
    background-color: #20C997;
    margin: auto;
}

.about-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    font-size: 700%;
    color: #F2F4F4;
    text-align: center;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-information {
    display: flex;
    padding: 30px 40px;
}

.left {
    width: 70%;
    padding: 0 20px;
}

.left span {
    color: #20C997;
}

.left h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 34px;
    font-size: 28px;
    color: #252b33;
}

.left p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    padding: 10px 0;
}

.right {
    width: 30%;
}

.right ul {
    list-style-type: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #4c4d4d;
}

.right span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4c4d4d;
    line-height: 24px;
}

.right ul li {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.right .no-border {
    border: none;
}

.right button {
    color: white;
    background-color: #20C997;
    border-radius: 30px;
    padding: 15px 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 2s;
}

.right button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(33, 204, 153, 0.5);
}

.about-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 50px;
}

.about-footer div h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 62px;
    font-size: 48px;
    color: #6c757d;
}

.about-footer div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #4c4d4d;
}

.about-footer div {
    border-right: 1px solid #eaeaea;
    padding: 40px 0;
    width: 25%;
}

.about-footer .no-border {
    border: none;
}

#services {
    background-color: #F8F9FA;
    z-index: -3;
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services-background {
    position: relative;
    z-index: -3;
    font-size: 800%;
    color: #EEF0F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.whatido {
    position: absolute;
    z-index: 1;
    text-align: center;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.services-child {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.services-child .margin-bottom {
    margin-bottom: 20px;
    padding: 0 30px;
}

.services-child h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #252b33;
}

.services-child p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #4c4d4d;
}

.services-child .icon-bg {
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 10px;
    color: #20C997;
    font-size: 30px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: 5px;
}


/* resume  */

.resume-background {
    position: relative;
    z-index: -3;
    font-size: 800%;
    color: #EEF0F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.resumee {
    position: absolute;
    z-index: 1;
    text-align: center;
    text-align: center;
}

.resume-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
}

.resume-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 29px;
    font-size: 24px;
    color: #252b33;
}

.left-resume,
.right-resume {
    width: 40%;
}

.left-resume div,
.right-resume div {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 10px 0;
}

.resume-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 25px;
    font-size: 21px;
    color: #252b33;
    padding: 10px 0;
}

.resume-container .color-red {
    color: #dc3545;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    font-size: 16px;
    padding-bottom: 10px;
}

.resume-container p {
    color: #4c4d4d;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    font-size: 16px;
}

.date {
    color: white !important;
    background-color: #20C997;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 14px;
    font-size: 14px;
    width: 120px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}


/* skills section */

#skills {
    padding: 50px;
}

#skills h2 {
    padding-left: 50px;
    color: #252b33;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 29px;
    font-size: 24px;
}

.skill-flex {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.left-skills {
    width: 50%;
    padding: 0 40px;
}

.right-skills {
    width: 50%;
    padding: 0 40px;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 29px;
    font-size: 16px;
}

.gray-ratio {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: #E9ECEF;
    border-radius: 5px;
}

.ratio {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #20C997;
    border-radius: 5px;
}

.ratio-65 {
    width: 65%;
}

.ratio-95 {
    width: 95%;
}

.ratio-80 {
    width: 80%;
}

.ratio-70 {
    width: 70%;
}

.ratio-60 {
    width: 60%;
}

.ratio-99 {
    width: 99%;
}

.padding-top {
    padding: 10px 0;
}

.download-cv {
    background-color: transparent;
    border: 1px solid #6C757D;
    padding: 10px 40px;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 30px;
    color: #6C757D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}

.download-cv:hover {
    background-color: #6C757D;
    color: white;
}


/* portfolio */

#portfolio {
    background-color: #F8F9FA;
    z-index: -4;
    position: relative;
    margin-top: 30px;
}

.portfolio-background {
    position: relative;
    z-index: -3;
    font-size: 800%;
    color: #EEF0F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.mywork {
    position: absolute;
    z-index: 1;
    text-align: center;
}

.portfolio-links {
    display: flex;
    /* width: 33%;
    margin: auto; */
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
}

.portfolio-links a {
    text-decoration: none;
    color: #6C757D;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    padding: 10px;
}

.portfolio-links a:hover {
    color: #20C997;
}

.gallery {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #F8F9FA;
}

.gallery img {
    width: 100%;
}

.img-container {
    margin: 10px;
}

.img-container .layer {
    position: relative;
    transition: all 2s;
}

.img-container .layer:hover .img-hover {
    opacity: 1;
}

.img-hover {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
}

.img-hover h2 {
    margin-top: 30%;
}

.gal-column {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}


/* testimonial */

#testimonial {
    z-index: -3;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.test-background {
    position: relative;
    z-index: -3;
    font-size: 800%;
    color: #EEF0F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.speak {
    position: absolute;
    z-index: 1;
    text-align: center;
    text-align: center;
}

.reviews {
    display: flex;
    width: 90%;
    margin: auto;
}

.review-container {
    width: 50%;
    background-color: #F8F9FA;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.review-container img {
    border-radius: 50%;
    margin-right: 15px;
}

.review-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 29px;
    font-size: 16px;
    color: #212529;
}

.review-container .p-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 29px;
    font-size: 16px;
    color: #6c757d;
}

.review-container .p2-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 29px;
    font-size: 16px;
    color: #212529;
    padding: 20px 0;
}

.stars {
    color: #FFC107;
}


/* .review-container::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dee3e4;
    position: absolute;
    bottom: -40px;
    left: -15px;
}

.review-container::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dee3e4;
    position: absolute;
    bottom: -40px;
    left: -40px;
} */


/* contact */

#contact {
    background-color: #F8F9FA;
    z-index: -4;
    position: relative;
}

.contact-background {
    position: relative;
    z-index: -3;
    font-size: 800%;
    color: #EEF0F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.contactt {
    position: absolute;
    z-index: 1;
    text-align: center;
}

.address-container {
    display: flex;
    padding: 0 40px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
}

.left-add {
    width: 25%;
}

.left-add h3,
.right-add h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 25px;
    size: 21px;
    color: #252b33;
    margin-bottom: 20px;
}

.left-add p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    size: 16px;
    color: #4c4d4d;
    padding-right: 20px;
}

.left-add i {
    color: #20C997;
}

.left-add div {
    margin: 20px 0;
}

.left-add span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    size: 16px;
    color: #4c4d4d;
    padding: 20px;
}

.right-add {
    width: 75%;
    padding: 0 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-add .w-50 {
    border-radius: 5px;
    border: 1px solid #dee3e4;
    width: 49%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    size: 16px;
}

.right-add .w-100 {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    size: 16px;
    color: #212529;
    border-radius: 5px;
    border: 1px solid #dee3e4;
}

.right-add button {
    color: white;
    background-color: #20C997;
    border-radius: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 200px;
    margin: 15px auto;
    line-height: 24px;
    padding: 12px 40px;
    transition: all;
}

.right-add button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(33, 204, 153, 0.5);
}

#footer {
    height: 25vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#footer .left-foot {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #252b33;
}

#footer .left-foot span {
    color: #20C997;
    font-weight: 500;
}

.right-foot {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 12px;
    color: #252b33;
}

.right-foot span {
    color: #eaeaea;
    margin: 0 6px;
}